<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHumanReadableCopyright</key>
	<string>(C) 2016 Alexey Zayats</string>
	<key>CFBundleIconFile</key>
	<string>bonaka</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>Bonaka</string>
	<key>CFBundleIdentifier</key>
	<string>ru.bonaka.app</string>
	<key>CFBundleVersion</key>
	<string>0.0.1</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7.0</string>
</dict>
</plist>
